<div class="transciption"> {{ transcription }} </div>
<div class="input-wrapper">
    <span class="text-input" *ngIf="!isRecording">
        <input type="text" *ngIf="isKeyboardActivated" (keyup.enter)="sendMessage($event)">
        <i class="fa fa-keyboard-o" aria-hidden="true" (click)="toggleKeyboard()"></i>
    </span>
    <span *ngIf="isRecording">Gravando.. {{duration}}</span>
    <span class="mic" (click)="toggleRecording()">
            <i class="fa fa-microphone" [ngClass]=" {
                'recording': isRecording
            }" aria-hidden="true"></i>
    </span>    
</div>